body {
    background-image: url("../../images/espace.jpg");
}
/* le background s'affiche pas je vais câbler */

.video-responsive {
    overflow:hidden;
    padding-bottom:56.25%; 
    position:relative;
    height:0;
   }
.video-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
   } */

.accueil {
    text-align: center;
    padding-left: 10px;
}

.question {
    text-align: right;
}

.a {
    text-align: right;
}

.image {
    display: flex;
    justify-content: center;
    height: 500px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
    margin-left: auto;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.raw {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 100%;
}

/**small devices (landscape phones, 576px and up)**/
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

/**medium devices (tablets, 768px and up)**/
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

/**large devices (desktops, 992px and up)**/
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

/**extra large devices (large desktops, 1200px and up)**/
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}